.homebody
    width: 60%
    .home-welcoming-header
        height: 8%
        display: flex
        align-items: center
        justify-content: center
    .posting-area
        height: 30%
        width: 90%
        background-color: red
        border: 2px solid indigo
        border-radius: 20px
    
// useEffect(() => {
//   const dayPeriod = hours < 12 ? 'morning' : hours < 18 ? 'afternoon' : 'evening';
//   setDayPeriod(dayPeriod);
// }, [hours]);